<!DOCTYPE html>
<!--STATUS OK-->
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="description" content="">
<!-- <link rel="icon" href="./favicon.ico">- -->
  <title>polls-detail投票详情</title>
 </head>
 <body>
  <div>
{# queston 是django函数传过来的变量名 #}
{#   <p> {{ question }} <p> #}
  <form action="{% url 'vote' question_id=question.id %}" method="post">
   <p>{{ queston.question_text }}</p>
   {%  for  c  in  question.choice_set.all %}
    <label>
     <input  type="radio" name="c_id"  value="{{ c.id  }}"/>{{ c.choice_text }}
    </label>
   {%  endfor %}
   <input  type="submit"   value="提交"/>
  </form>
{#  <a href="http://192.168.1.11:8800/polls">返回首页</a> #}
  <a href="{% url  'index' %}">返回首页</a> 
   <p> --------detail --------</p>
  </div>
 </body>
</html>

