/*优先级第3 */
/**CSS  清零无边框**/
body,*{
 margin:0 auto;
 padding:0;
 text-align: center;
}
.third{ 
 font-size:53px;
 color:green;
 background-color:gray;
 background-image:url(http://192.168.0.10/ERD_2.png);
}
.third_2{
 font-size:43px;
 color:purple;
 background-color:gray;
}
#idcss{
 font-size:32px;
 color:yellow;
 background-color:blue;
}
*{
 font-size:32px;
 border:1px  dotted blue;
}
#id_p{
 font-size:64px;
 background-color:orange;
}
p[id="id_p"]{
 color:red;
}
span, p{font-size:64px;}
ul{
 list-style-type:none;
}
ul>li{
 color:orange;
 font-size:32px;
}
ul span{
 color:red;
}
#div1{
 border:10px  dotted green;
 color: #09ff0e;
}
#div2{
 color:rgb(10,25,255);
}
div>img{
  float:right;
}
p[id='no_id']{
  float:left;
}
p[name='div2p']{
 color:rgb(0,255,0);
}






